.SelectColor {
    z-index: 1000;
    position: absolute;
    right: 50px;
    button.color {
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.36);
        border: none;
        border-radius: 6px;
        cursor: pointer;
        svg {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
        &:hover {
            background: rgba(69, 69, 69, 0.4);
        }
        &:focus {
            outline: none;
        }
    }


    .sample {
        padding: 30px;
        box-shadow: 3px 3px 2px rgba(104, 104, 104, 0.3);
        border-radius: 5px;
        width: 300px;
        //height: 200px;
        position: absolute;
        right: 0px;
        background: #ffffff;


    }
    .outerColorBox {
        border:1px solid yellow;
        display: contents;
        .colorBox {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px 10px;
            &:hover{
                cursor: pointer;
                border:3px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}
