.TodoInsert {
  //border:1px solid red;
  position: relative;
  display: flex;
  margin-bottom: 4rem;
  input {
    flex: 1;
    border: none;
    padding: 0.9rem 0.9rem 0.9rem 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
    border-radius: 100rem;
    background: rgba(0, 0, 0, 0.18);
    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.49);
    }

    &:focus {
      outline: none;
    }
  }


  // 달력사용하는것
  .ant-picker {
    width: 250px;
    height: 30px;
    background: none;
    border:none;
    &:focus {
      outline: none;
    }
    input {
      text-align: right;
      height: 35px;
      font-size: 1rem;
      background: none;
    }

    // 달력 아이콘
    .ant-picker-suffix {
      font-size: 35px;
      line-height: 35px;
      color: white;
    }
    .ant-picker-clear{
      display: none;
    }
  }

  .date {
    position: absolute;
    right: 80px;
    top:15px;
    color: white;
    &:hover {
      color: rgba(217, 217, 217, 0.36);
    }
  }

  button {
    position: absolute;
    right:25px;
    top:5px;
    border: none;
    background: none;
    color: #ffffff;
    transition: 0.5s background ease-in;
    cursor: pointer;
    svg{
      font-size: 50px;
      display: flex;
      text-align: center;
    }
    &:focus {
      outline: none;
    }

    &:hover {
      color: rgba(217, 217, 217, 0.36);
    }
  }
}
