.TodoItem {
  display: flex;
  padding:1rem;
  background: white;
  margin-bottom: 5px;
  border-radius: 7px;
  .checkbox {
    //border:1px solid red;
    font-size:1.1rem;
    flex: 1;
    display: flex;
    align-items: center;
    svg{
      cursor: pointer;
      margin-right: 20px;
      font-size: 1.9rem;
      color:  #686868;
    }
    .text {
      flex: 1;
      color:black;
    }
    &.checked{
      svg{
        color:  #6374bc;
      }
      .text{
        color:gray;
        text-decoration: line-through;
      }
    }
  }
  .starbox{
    display: flex;
    margin-right: 10px;
    font-size: 1.7rem;
    color: #686868;
    cursor: pointer;
    &.star{
      svg{
        color:yellow;
      }
    }
  }
  .remove {
    display: flex;
    font-size: 1.9rem;
    color: #2b5f8c;
    cursor: pointer;
  }
}
