.TodoItem {
    display: flex;
    padding: 0.4rem 1.5rem;
    background: white;
    margin-bottom: 5px;
    border-radius: 7px;
    &:hover {
        background: rgba(255, 255, 255, 0.86);
        cursor: pointer;
    }

    .checkDate {
        display: flex;
        flex: 1;
        .checkbox {
            display: flex;
            align-items: center;
            svg {
                display: flex;
                cursor: pointer;
                font-size: 2rem;
                color: #686868;
            }
            &.checked {
                svg {
                    color: #6374bc;
                }
                // 글자에 데코레이션 먹게하기
                .text {
                    color: gray;
                    text-decoration: line-through;
                }
            }
        }
    }
    .textDate {
        margin-left: 30px;
        //display: block;
        .text {
            font-size: 1.2rem;
            color: black;
        }
    }
    .date {
        font-size: 0.9rem;
    }
    .starbox {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 2rem;
        color: #686868;
        cursor: pointer;

        &.star {
            svg {
                color: yellow;
            }
        }
    }

    .remove {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #2b5f8c;
        cursor: pointer;
    }
}
