.TodoTemplate{
  width: 400px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background: #6374bc;
  overflow: hidden;
  .title{
    background: none;
    border:none;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    height: 2rem;
    color:white;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    &::placeholder{
      color: rgba(255, 255, 255, 0.4);
      text-align:center;
    }
    &:focus{
     outline: none;
    }
   }
}