.TodoListTemplate{
  height:100vh;
  padding:3rem;
  margin-left: auto;
  margin-right: auto;
  background: #6374bc;
  overflow: auto;
  .title{
    background: none;
    display: block;
    margin: auto;
    margin-bottom: 3.5rem;
    height: 3rem;
    color:white;
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
  p{
    font-size: 0.9rem;
    font-weight:lighter;
  }
  }
  .TodoList{
    //border:1px solid yellow;
    max-height:55vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}