.TodoTemplate{
  width: 400px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background: #6374bc;
  overflow: hidden;
  .title{
    background: none;
    border:none;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    height: 2rem;
    color:white;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    &::placeholder{
      color: rgba(255, 255, 255, 0.4);
      text-align:center;
    }
    &:focus{
     outline: none;
    }
   }
   .color{
     text-align: center;
     button {
       width: 55px;
       height: 55px;
       border-radius:40px;
       background: none;
       margin: 0 10px;
       &:focus {
         outline: none;
       }
       svg {font-size: 40px;}
      }
     .c1{ color:#6374bc;}
     .c2{color:#639dbc;}
     .c3{color:#bc637f;}
     .c4{color:#70bc63;}
   }

}