.TodoTemplate{
  width: 600px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  //border-radius: 0.8rem;
  //background: #3c3b71;
  background: #000000;
  overflow: hidden;
  .title{
    //border:1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 2rem;
    font-size: 25px;
    color: rgb(43, 95, 181);
    font-weight: bold;
  }
  .contents{

  }
}